.about-container {
  img {
    
    height: 2rem;
  }
  h3 {
    text-align: center;
    color: white;
    font-weight: 100;
  }
  h1 {
    text-align: center;
    font-weight: 100;
    font-size: 3.5rem;
    color: white;
  }
  p {
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    color: white;
  }
  .about-contact {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    flex-direction: row;
    animation: fadeUp 1s ease;
    a:nth-child(1) {
      animation: fadeUp 1s ease;
    }
    a:nth-child(2) {
      animation: fadeUp 1s ease 1s;
    }
    a {
      font-size: 0.9rem;
      text-decoration: none;
      height: 2rem;
      width: 2rem;
      align-self: center;
      color: white;
      background-color: black;
      border-radius: 10px;
      padding: 10px;
      &:hover {
        transform: scale(1.025);
        color: black;
        background-color: white;
      }
    }
  }
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);

  }
}