.appDetails-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px 0;
    background-color: #0f0f0f;
    width: 100vw;
    .icon {
      margin: 0;
      padding: 0;
      height: 5rem;
      width: 5rem;
      border-radius: 5rem;
      background-color: #0f0f0f;
      img {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    h1 {
      padding: 0 10px;
      font-weight: 200;
      text-align: center;
      color: white;
      animation: fadeIn 0.75s ease;
    }
  }

  p {
    margin: 40px 0;
    color: white;
    font-weight: 200;
    text-align: center;
    color: white;
    width: 50vw;
    opacity: 0;
    animation: fadeIn 1s ease forwards 0.25s;
  }
  button {
    align-self: center;
    width: 150px;
    height: 30px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: 100;
    border-radius: 10px;
    background-color: black;
    border: 0;
    transition: ease 0.5s;
    a {
      text-decoration: none;
      color: white;
    }
    &:hover {
      transform: scale(1.025);
      filter: brightness(120%);
      cursor: pointer;
      background-color: white;
      color: black;
      a {
        color: black;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
