.container {
  position: relative;
  text-align: center;
  height: 90vh;
  margin: 0;
  padding: 0;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
