.container {
    height: 93vh;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    img {
        align-self: center;
        height: 60px;
        width: 150px;
    }
    h1 {
        text-align: center;
        color: white;
        font-size: 4rem;
        font-weight : 100;
        margin: 0 0 7vh 0;
    }
}