.boxCard {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 50vw;
  height: 50px;
  background-color: rgb(180, 80, 70);
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  align-content: center;
  margin: 10px;
  .imgContainer {
      margin: 0 10px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    img {
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }
  }
  h3 {
      margin: 0 10px;
      color: white;
      font-weight: 100;
  }
}
