.footerContainer  {
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 100%;
    background-color: black;
    flex-direction: column-reverse;
    p {
        font-size: 0.75rem;
        color: white;
        text-align: center;
    }
}